html,body {
	margin-top:100px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:100px;
}

#header {
	position:absolute;
	top:50px;
	left:30px;
	right:82%;
	height:15px;
	border:1px solid black;
	background-color:black;
}

#navbar {
	
}

#head {
	position:absolute;
	top:50px;
	left:85%;
	right:30px;
	height:15px;
	border:1px solid black;
	background-color:black;
	width:3%;
	}

#main {
	position:absolute;
	top:100px;
	left:30px;
	right:30px;
	height:530px;
	border:1px solid black;
	background-color:black;
}

#S {
	position:absolute;
	top:50px;
	left:95%;
	right:30px;
	width:2.8%;
	height:15px;
	border:1px solid black;
	background-color:black;
}

#S2 {
	position:absolute;
	top:50px;
	left:91%;
	right:30xp;
	width:2.8%;
	height:15px;
	border:1px solid black;
	background-color:black;
}

#T {
position:absolute;
	top:50px;
	left:87%;
	right:20xp;
	width:2.8%;
	height:15px;
	border:1px solid black;
	background-color:black
}

#T2 {
position:absolute;
	top:650px;
	left:30px;
	right:5px;
	width:45%;
	height:260px;
	border:1px solid black;
	background-color:black;
}

#T3 { 
	position:absolute;
	top:650px;
	left:750px;
	right:5px;
	width:45%;
	height:260px;
	border:1px solid black;
	background-color:black;
}


	